:root {
    --main-color: #28AE60;
    --text-color: #fff;
    --select-color: #444;
}

::selection {
    background: var(--select-color);
    color: var(--text-color);
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.dir-col {
    flex-direction: column;
}

.d-grid {
    display: grid;
}